


:root {
    --red: hsl(0, 100%, 35%);
    --cyan: hwb(180 0% 0%);
    --orange: hsl(315, 100%, 52%);
    --blue: hsl(150, 100%, 48%);
    --varyDarkBlue: hsl(228, 3%, 38%);
    --grayishBlue: hsl(204, 100%, 63%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
  }

 

  .assignment-section-1{
      position: relative;
      top: 20px;
  }
  #second_Topic{
    position: relative;
    text-align: center;
    top: -400px;
    font-family:  'Rasa', serif;
    font-size: 50px;
    font-weight: 100;
  }
  #main_Topic{
      position: relative;
      text-align: center;
      top: 20px;
      font-family:  'Rasa', serif;
      font-size: 50px;
      font-weight: 100;
  }
  
  body {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    background-color: var(--veryLightGray);
  }
  
  .image img{
    position: relative;
    width: 80%;
    top: 15px;
    left:-25px;
  }

  .image img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
  }
  
  
  .box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
    
  }
 

  
  img {
    float: right;
  }
  

  
  .cyan {
    border-top: 3px solid var(--cyan);
  }
  .red {
    border-top: 3px solid var(--red);
  }
  .blue {
    border-top: 3px solid var(--blue);
  }
  .orange {
    border-top: 3px solid var(--orange);
  }
  
  h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
  }
  
  
  
  