*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;

}
/*----------------------------------Main Window------------------------------------*/
abbr{
    text-decoration: none;
}
header{
    position: fixed;
    height: 10vh;
    top: 0;
    display: flex;
    background-color: rgba(0,0,0,0.2);
    width:100vw;
    justify-content: right;
    z-index: 10;
}
.naviLink0 li a{
    text-decoration: none;
    color: black;
    
}
.naviLink0 li{
    position: relative;
    top: 10px;
    right: 50px;
    display: inline-block;
}
.naviLink0 button{
    background-color: white;
    padding: 7px 50px;
    font-size: 15px;
    border-radius: 7px;
    margin: 0 10px;
    /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0; */
}

.naviLink0 button:hover {
        cursor: pointer;
        background-color: #f24600;
        width: 13vw;
        height: 7vh;
        /* transition-property: width, height;
        transition-duration: 6s; */
        font-family: 'Rajdhani', sans-serif;   
}

button:hover {
    cursor: pointer;
    color: white;
    font-family: 'Rajdhani', sans-serif;   
}

#home{
    height: 5vh;
    width: 3.6vw;
    box-shadow: -1px 1px 10px -1px black;
    background-color: white;
    border-radius: 8px;
    left: 17px;
    position: absolute;
    top: 6px;
}
#small-rectangle{
    height: 4.8vh;
    width: 3.6vw;
    box-shadow: -1px 1px 10px -1px black;
    background-color: white;
    border-radius: 8px;
    top: 16px;
    left: 29px;
    position: fixed;
}



#heroText {
    transform: translate(-50%, 50%);
    position: absolute;
    top: 5%;
    left: 26%;
    text-align: center;
    
}

#I_m {
    font-size: 300%;
    transform: translate(-20%, 10%);
    text-shadow: 10px 10px 10px #000000;
}

#name{
    font-size: 300%;
}
#heroText h1{
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Red Rose', cursive;
    color: white;
    text-shadow: 2px 2px #000000;
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    outline: black;
    font-size: 290%;
    letter-spacing: 0.3vw;
    text-shadow: 10px 10px 10px #000000;

}
#heroText  h3{
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Red Rose', cursive;
    color: white;
    text-shadow: 10px 10px 10px #000000;
    font-size: 190%;
    transform: translate(-10% ,5%);
    border-color: black;
    top: 4%;
    letter-spacing: 0.90px;
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

#heroText h4{
    color: white;
    text-shadow: 2px 2px black;
    font-size: 160%;
    font-style: italic;
    font-weight: normal;
    font-family: 'Red Hat Display', sans-serif;
    transform: translate(-0.01%,-25%);
    letter-spacing: 0.90px;
    text-shadow: 10px 10px 10px #000000;
}


#heroText abbr{
    color: red;
    text-decoration: none;
    text-shadow: 10px 10px 10px #000000;
}
.mark h3{
    transform: translate(-0.01% ,5%);
    left: 100%;
    text-shadow: 10px 10px 10px #000000;
}

#ijse {
    color: red;
    font-size: 100%;
    text-shadow: 10px 10px 10px #000000;


}

.sosial_media_links li a i {
    color: #292929;
    /*     width: 20vw; */
    height: 7vh;
    border-radius: 10px;

    left: 96%;
    position: relative;
    top: -45px;
    font-size: 25px
    /* text-shadow:3px 6px rgba(255,165,0,.75) */
}

.sosial_media_links li a i:hover {
    cursor: pointer;
    color: #f24600;
    width: 20vw;
    height: 10vh;
}

.sosial_media_links li a i:hover {
    cursor: pointer;
    color: #f24600;
}

.sosial_media_links li a i:hover {
    cursor: pointer;
    color: #f24600;
}

.sosial_media_links li a i:hover {
    cursor: pointer;
    color: #f24600;
}

.sosial_media_links li a i:hover {
    cursor: pointer;
    color: #f24600;
}

.sosial_media_links li a i:hover {
    cursor: pointer;
    color: #f24600;
}

#vertical_line1 {
    height: 15vh;
    width: 0.200vw;
    background-color: white;
    /*     border: 1px solid black; */
    left: 96.6%;
    position: relative;
    top: -55px;
}

#vertical_line2 {
    height: 15vh;
    width: 0.200vw;
    background-color: white;
    /*     border: 1px solid black; */
    left: 96.6%;
    position: relative;
    top: -50px;
}

.secondary-menu {
    position: absolute;
    height: 8vh;
    width: 100vw;
    margin: 0 0.1%;
    padding: 7px 50px;
    justify-content: space-between;
    bottom: 2%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);

}

#header-bar2 li {
    position: relative;
    bottom: 1px;
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 7px;
    /* margin: 0 14px; */
    text-align: center;
}
#header-bar2 button{
    background-color: white;
    padding:0 -100px;
    font-size: 14px;
      /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0; */
    background-color: white;
    padding: 8px 58px;
    border-radius: 7px;
    margin: 0 35px;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0; 
}

#header-bar2 li a {
    text-decoration: none;
    color: black;

}

button:hover{
    cursor: pointer;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;  
}

#header-bar2 button:hover{
    cursor: pointer;
    background-color: #f24600;
    font-family: 'Rajdhani', sans-serif;   

}


.main_page {
    background-image: url("../images/head  pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    width: 100%;
    height: 95vh;
}

audio {
    position: relative;
    margin: 100px 5% auto 5%;
    width: 18%;
    max-width: 300vw;
    height: 3vh;
    left: 2%;
    border-color: dimgrey;
    top: 5px;
}


/*----------------------------------1 st Page(Motivate word)------------------------------------*/

#motivate-rectangle {
    height: 50vh;
    /* border: 1px solid black; */
    background-color: white;
}

figure .Motivate-word {
    text-align: center;
    font-size: 15px;
    top: 135%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    width:100vw;
    letter-spacing: 0.1vw;
    
}

/* #writer {
    font-size: 18px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    
} */

#writer {
    font-size: 16px;
    bottom: 0;
/*     right: 32%; */
    left: 56%;
    margin: auto;
    top: 161%;
    position: absolute;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 0.1vw;
}
#motivate-rectangle img{
    position: absolute;
    left: 69%;
    top: 106%;
    transform: rotate(7deg);
    margin: 10px 0px;
    
}
/*----------------------------------2 st Page(About)------------------------------------*/

#about-Me{
    height: 75vh;
    position: relative;
    background-color: #6e6e6e;
}
#topic-About{
    width:20vw;
    height:6vh;
    background-color:white;
/*     border:1px solid black; */
    top:-1px;
    position:relative;
}
#about-Me div{
    
    top:80px;
    position:relative;
    left:3%
     
}
#about-word{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
  font-style: normal;
}
#rectangle-shape{
    width:60vw;
    height:42vh;
    background-color:white;
/*     border:1px solid black; */
    top:-168px;
    position:relative;
    left:30%
}
#hello{
    font-family: 'Playfair Display', serif;
    font-size:75px;
    top:-65px;
    right:30px;
    position:relative;
    text-shadow: 10px 10px 10px #000000;
}

#rectangle-shape #about_details{
    left: 48px;
    position: absolute;
    top: 13%;
}
#rectangle-shape #about_details #age{
    position: absolute;
    top: 150%;
}
#rectangle-shape #about_details #Iam_Software{
    position: absolute;
    top: 450%;
    
}

#rectangle-shape #about_details #thank_you{
    position: absolute;
    top: 750%;
}
#top{
    
    width: 45vw;
    height: 2px;
    border: 1px solid rgb(51, 43, 43);
    top: 7%;
    position: absolute;
    left: 21%;
}
#bottom{
    width: 45vw;
    height: 2px;
    border: 1px solid rgb(51, 43, 43);
    bottom: 6%;
    position: absolute;
    left: 4%;
}
#left{
    width: 2px;
    height: 25vh;
    border: 1px solid rgb(51, 43, 43);
    bottom: 6%;
    position: absolute;
    left: 2.5%;
}
#right{
    width: 2px;
    height: 25vh;
    border: 1px solid rgb(51, 43, 43);
    top: 7%;
    position: absolute;
    right: 2.5%;
}
#galary_rectangle{
    width:20vw;
    height:6vh;
    background-color:white;
/*     border:1px solid black; */
    top:-105px;
    position:relative;
    /* border: 1px solid rgb(51, 43, 43); */
}

#navi_phone_gmail{
    right: 15%;
    position: absolute;
    top:85%;
    bottom: 20px;
    
    
}
#navi_phone_gmail a{
    text-decoration: none;
    color: black;
} 
#phone{
    border-radius: 20%;
    background-color: white;
    top: 6px;
    position: relative;
    right: 10px;
}
#gmail{
    border-radius: 20%;
    background-color: white;
    top: 6px;
    position: relative;
    right: 10px;
}


/*----------------------------------3 st Page(Assignment)------------------------------------*/

#Gallery_Page{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
    font-style: normal;
    left: -2%;
    position: relative;
    top: 20%;
}
#Assignment_Rectangle{
    width:20vw;
    height:6vh;
    background-color:white;
    /* border:1px solid black; */
    top:-65px;
    position:relative;
}
#Assignment_big_rectangle{
    height: 120vh;
    position: relative;
    background-color: #ffffff;
    /* border:1px solid black; */
}
#A_img1{
    filter: drop-shadow(5px 10px 5px black);
    top: 20%;
    left: 35%;
    position: absolute;
    
}
#A_think0{
    left: 35%;
    position: absolute;
    top: 20%; 
}
#git_A_1{
    text-decoration: none;
    top: 46%;
    left: 37%;
    position: absolute;
    color: black;
}
/* #rectangle_image{
    top: 20%;
    left: 35%;
    width: 150px;
    height: 200px;
    position: absolute;
} */

/* #A_img1 :hover{
    cursor: pointer;
    top: 17%;
    left: 30%;
    position: absolute;
} */
#A_img2{
    filter: drop-shadow(5px 10px 5px black);
    left: 50%;
    position: absolute;
    top: 15%;
}
#A_think1{
    left: 50.5%;
    position: absolute;
    top: 15%; 
}
#git_A_2{
    text-decoration: none;
    top: 18%;
    left: 54.5%;
    position: absolute;
    color: black; 
}
#A_img3{
    filter: drop-shadow(5px 10px 5px black);
    top: 53%;
    left: 31.3%;
    position: absolute; 
}
#A_think2{
    left: 31.8%;
    position: absolute;
    top: 53%; 
}
#git_A_3{
    text-decoration: none;
    top: 56.5%;
    left: 38%;
    position: absolute;
    color: black; 
}
#A_img4{
    filter: drop-shadow(5px 10px 5px black);
    top: 57%;
    left: 50%;
    position: absolute;   
}
#A_think3{
    left: 50%;
    position: absolute;
    top: 59%; 
}
#git_A_4{
    text-decoration: none;
    top: 83%;
    left: 53%;
    position: absolute;
    color: black; 
}


/*----------------------------------4 st Page(Skill)------------------------------------*/

#skil_rectangle{
    width:20vw;
    height:6vh;
    background-color:white;
    /* border:1px solid black; */
    top:-8px;
    position:relative;
}

#skil_rectangle #Skills{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
    font-style: normal;
    left: -2%;
    position: relative;
    top: 5px;
    
}
/* #Activities_topic_Rectangle #Activities{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
    font-style: normal;
    left: 20%;
    position: absolute;
    top: 20%;
} */
#skil_big_rectangle{
    height: 60vh;
    position: relative;
    background-color: #6e6e6e;
    top: -35px;
    
}
/* #fun_activities{
    position: absolute;
    right: 15%;
    top: 15%;
    font-size: 20px;
    color: white;
}
#Activities_big_rectangle #Activiti_img_1{
    top: 25%;
    position: absolute;
    left: 10%;
}
#Activiti_img_2{
    top: 25%;
    position: absolute;
    left: 40%;
}
#Activiti_img_3{
    top: 25%;
    position: absolute;
    left: 70%;
} */

#skil_set{
    left: 26%;
    top:40%;
    filter: drop-shadow(5px 10px 5px black);
    position: absolute;
    justify-content: space-between;
    
}
#skil_1{
    border-radius: 20px;
}
#skil_2{
    border-radius: 20px;
}
#skil_3{
    border-radius: 20px;
}
#skil_4{
    border-radius: 20px;
}
#skil_5{
    border-radius: 20px;
}
#skil_6{
    border-radius: 20px;
}
#skil_set :hover{
    width: 10vw;
    height: 20vh;
    margin: 0 10px;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    filter: drop-shadow(5px 10px 5px black);
}

/*----------------------------------4 st Page(Experience)------------------------------------*/

#experience_rectangle{
    width:20vw;
    height:6vh;
    background-color:white;
    /* border:1px solid black; */
    top:-98px;
    position:relative;
}
#experience_rectangle #Experience{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
    font-style: normal;
    left: -2%;
    position: relative;
    top: 8px;
}
#experience_big_rectangle{
    height: 120vh;
    position: relative;
    background-color: #ffffff;
    /* border:1px solid black; */
}

#experience_paragraph{
    top: 0;
    left: 8%;
    letter-spacing: 2px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    position: relative;
    
}
#main_pic{
    left: 15%;
    top: 3%;
    filter: drop-shadow(5px 10px 5px black);
    position: relative;
}
/* #experience_1step{
    left: 22.9%;
    top: 55%;
    position: absolute;
} */
#Month_2019_06{
    color: white;
    filter: drop-shadow(5px 10px 5px black);
    top: 430px;
    left: 22.5%;
    position: absolute;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Rajdhani', sans-serif;
}
#TRAINING{
    top: 465px;
    left: 23.5%;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;
    filter: drop-shadow(5px 10px 5px black);
}
#helth_img{
    border-radius: 16px;
    left: 29.4%;
    top: 451px;
    position: absolute;
    filter: drop-shadow(5px 10px 5px black);
}
#STEP1{
    filter: drop-shadow(5px 10px 5px black);
    top: 68%;
    left: 26.2%;
    color: #cb1b4a;
    position: absolute;
    font-size: 16;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
}
#I_worked_paragraph{
    top: 72%;
    left: 23%;
    text-align: center;
    text-align: left;
    position: absolute;
    font-size: 14px;
}
#I_worked_paragraph a{
    text-decoration: none;
}


#Month_2020_10{
    color: white;
    filter: drop-shadow(5px 10px 5px black);
    top: 48%;
    left: 33.8%;
    position: absolute;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Rajdhani', sans-serif;
}
#TRAINING1{
    top: 53%;
    left: 34%;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;
    filter: drop-shadow(5px 10px 5px black); 
}
#bank_img{
    border-radius: 16px;
    left: 40%;
    top: 51.5%;
    position: absolute;
    filter: drop-shadow(5px 10px 5px black); 
}
#STEP2{
    filter: drop-shadow(5px 10px 5px black);
    top: 59%;
    left: 37%;
    color: #CED44E;
    position: absolute;
    font-size: 16;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
}
#I_worked_paragraph1{
    top: 63.5%;
    left: 34%;
    text-align: center;
    text-align: left;
    position: absolute;
    font-size: 14px;
    
}
#I_worked_paragraph1 a{
    text-decoration: none;
}


#TRAINING2{
    top: 44%;
    left:47.5%;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;
    filter: drop-shadow(5px 10px 5px black); 
}
#STEP3{
    filter: drop-shadow(5px 10px 5px black);
    top: 51%;
    left: 48.5%;
    color: #42afb6;
    position: absolute;
    font-size: 16;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;; 
}
#experience_think1{
    top: 60%;
    left: 47%;
    position: absolute; 
}


#PERMANENT1{
    top: 36%;
    right:35.8%;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;
    filter: drop-shadow(5px 10px 5px black); 
}
#STEP4{
    filter: drop-shadow(5px 10px 5px black);
    top: 42%;
    right:38%;
    color: #fcb414;
    position: absolute;
    font-size: 16;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;; 
}
#experience_think2{
    top: 50.5%;
    right:33.5%;
    position: absolute; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;; 
}


#OWNER{
    top: 28%;
    right:26%;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;
    filter: drop-shadow(5px 10px 5px black);  
}
#STEP5{
    filter: drop-shadow(5px 10px 5px black);
    top: 34%;
    right:26.8%;
    color: #074d67;
    position: absolute;
    font-size: 16;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;  
}
#experience_think3{
    top: 40%;
    right:20%;
    position: absolute;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;  
}
#man{
    top: 200px;
    left: -6%; 
    position: absolute;
    z-index: 1;
}


/*----------------------------------4 st Page(Experience)------------------------------------*/

#Project_rectangle{
    width:20vw;
    height:8vh;
    background-color:white;
    /* border:1px solid black; */
    top:-2x;
    position:relative;
}
#Project{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
    font-style: normal;
    left: -2%;
    position: relative;
    top: 22px;
}
#Project_big_rectangle{
    height: 60vh;
    position: relative;
    background-color: #6e6e6e;
    top: -100px;
}