*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;

}
/* /----------------------------------Main Window------------------------------------/ */
abbr{
    text-decoration: none;
}
header{
    position: fixed;
    height: 10vh;
    top: 0;
    display: flex;
    background-color: rgba(0,0,0,0.2);
    width:100vw;
    justify-content: right;
    z-index: 10;
}
.naviLink0 li a{
    text-decoration: none;
    color: black;
    
}
.naviLink0 li{
    position: relative;
    top: 10px;
    right: 50px;
    display: inline-block;
}
.naviLink0 button{
    filter: drop-shadow(10px 10px 10px black);
    background-color: white;
    padding: 7px 50px;
    font-size: 15px;
    border-radius: 7px;
    margin: 0 10px;
}

.naviLink0 button:hover {
        cursor: pointer;
        background-color: #f24600;
        width: 13vw;
        height: 7vh;
        font-family: 'Rajdhani', sans-serif;   
}

button:hover {
    cursor: pointer;
    color: white;
    font-family: 'Rajdhani', sans-serif;   
}

#home{
    height: 5vh;
    width: 3.6vw;
    box-shadow: -1px 1px 10px -1px black;
    background-color: white;
    border-radius: 8px;
    left: 17px;
    position: absolute;
    top: 6px;
}
#small-rectangle{
    height: 4.8vh;
    width: 3.6vw;
    box-shadow: -1px 1px 10px -1px black;
    background-color: white;
    border-radius: 8px;
    top: 16px;
    left: 29px;
    position: fixed;
}



#heroText {
    transform: translate(-50%, 50%);
    position: absolute;
    top: 18%;
    left: 26%;
    text-align: center;
    animation-name: move_word;
    animation-duration: 5s;
    animation-iteration-count:1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

@keyframes move_word{
0%{
    
    filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
}
50%{
    left: 30%;
}
50%{
    left: 50%;
    opacity: 0;
    filter: drop-shadow(10px 10px 10px rgb(1, 4, 32));   
}

}

#I_m {
    font-size: 300%;
    transform: translate(-20%, 10%);
    text-shadow: 10px 10px 10px #000000;
}

#name{
    font-size: 300%;
}
#heroText h1{
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Red Rose', cursive;
    color: white;
    text-shadow: 2px 2px #000000;
    outline: black;
    font-size: 290%;
    letter-spacing: 0.3vw;
    text-shadow: 10px 10px 10px #000000;

}
#heroText  h3{
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Red Rose', cursive;
    color: white;
    text-shadow: 10px 10px 10px #000000;
    font-size: 190%;
    transform: translate(-10% ,5%);
    border-color: black;
    top: 78%;
    left: 17%;
    letter-spacing: 0.90px;
    position: absolute;
   
}

#heroText h4{
    color: white;
    text-shadow: 2px 2px black;
    font-size: 160%;
    font-style: italic;
    top: 115%;
    left: 20%;
    position: absolute;
    font-weight: normal;
    font-family: 'Red Hat Display', sans-serif;
    transform: translate(-0.01%,-25%);
    letter-spacing: 0.90px;
    text-shadow: 10px 10px 10px #000000;
}
#heroText p{
    color: white;
    font-size: 160%;
    font-style: italic;
    top: 160%;
    left: 25%;
    position: absolute;
    font-weight: normal;
    font-family: 'Red Hat Display', sans-serif;
    transform: translate(-0.01%,-25%);
    letter-spacing: 0.90px;
    text-shadow: 10px 10px 10px #000000;
}
#heroText h5{
    top: 130%;
    left: 37%;
    margin: 0;
    font-size: 200%;
    color: white;
    position:absolute;
}


#heroText abbr{
    color: red;
    text-decoration: none;
    text-shadow: 10px 10px 10px #000000;
}
.mark h3{
    transform: translate(-0.01% ,5%);
    left: 100%;
    text-shadow: 10px 10px 10px #000000;
}

#ijse {
    color: red;
    font-size: 100%;
    text-shadow: 10px 10px 10px #000000;


}

.sosial_media_links li a i {
    color: #292929;
    height: 7vh;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
    left: 96%;
    position: relative;
    top: -45px;
    font-size: 25px
}

.sosial_media_links li a i:hover {
    cursor: pointer;
    color: #f24600;
    width: 20vw;
    height: 10vh;
}
#vertical_line1 {
    height: 15vh;
    width: 0.200vw;
    background-color: white;
    left: 96.6%;
    position: relative;
    top: -55px;
}

#vertical_line2 {
    height: 15vh;
    width: 0.200vw;
    background-color: white;
    left: 96.6%;
    position: relative;
    top: -50px;
}

.secondary-menu {
    position: absolute;
    height: 8vh;
    width: 99.9%;
    margin: 0 0.1%;
    padding: 7px 50px;
    justify-content: space-between;
    bottom: 2%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);

}

#header-bar2 li {
    position: relative;
    bottom: 1px;
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 7px;
    text-align: center;
}
#header-bar2 button{
    background-color: white;
    padding:0 -100px;
    font-size: 14px;
    background-color: white;
    padding: 8px 58px;
    border-radius: 7px;
    filter: drop-shadow(10px 10px 10px black);
    margin: 0 35px;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0; 
}

#header-bar2 li a {
    text-decoration: none;
    color: black;

}

button:hover{
    cursor: pointer;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;  
}

#header-bar2 button:hover{
    cursor: pointer;
    background-color: #f24600;
    font-family: 'Rajdhani', sans-serif;   
}

.main_page {
    background-image: url("../images/head  pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    top: 0;
    height: 95vh;
}
audio {
    position: relative;
    margin: 100px 5% auto 5%;
    width: 18%;
    max-width: 300vw;
    height: 3vh;
    left: 2%;
    border-color: dimgrey;
    top: 5px;
}

/* /----------------------------------1 st Page(Motivate word)------------------------------------/ */

#motivate-rectangle {
    top:0;
    height: 60vh;
    position: relative;
    background-color: white;
    border: 1px solid black;
}

figure {
    text-align: center;
    top: 35%;
    font-size: 15px;
    margin: auto;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    width:98.9vw;
    letter-spacing: 0.1vw;
    
}

#writer {
    font-size: 16px;
    bottom: 0;
    left: 56%;
    margin: auto;
    top: 161%;
    position: absolute;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 0.1vw;
}
#motivate-rectangle img{
    left: 69%;
    top: 19%;
    transform: rotate(7deg);
    margin: 10px 0px;
    z-index:1;
    position: absolute;
    
}
/* /----------------------------------2 st Page(About)------------------------------------/ */

#about-Me{
    height: 75vh;
    top: 0;
    position: relative;
    background-color: #6e6e6e;
}
#topic-About{
    width:20vw;
    height:6vh;
    background-color:white;
    top:-1px;
    position:relative;
}
#about-Me div{ 
    top:80px;
    position:relative;
}
#about-word{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
  font-style: normal;
}
#rectangle-shape{
    width:60vw;
    height:42vh;
    background-color:white;
    top:-168px;
    position:relative;
    left:30%
}

#hello{
    font-family: 'Playfair Display', serif;
    font-size:75px;
    top:-65px;
    left:-40px;
    position:absolute;
    text-shadow: 10px 10px 10px #000000;
    animation-name: word_move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes word_move{
    0%{

        filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
    }
    100%{
        top: 0%;
        left: -15%;
        color: rgb(4, 53, 4);
        filter: drop-shadow(10px 10px 10px rgb(238, 255, 0));  
    }
} 
#rectangle-shape #about_details{
    left: 60px;
    top: 20%;
    position: relative;
}

#top{
    
    width: 45vw;
    height: 2px;
    border: 1px solid rgb(51, 43, 43);
    top: 7%;
    position: absolute;
    left: 21%;
}
#bottom{
    width: 45vw;
    height: 2px;
    border: 1px solid rgb(51, 43, 43);
    bottom: 6%;
    position: absolute;
    left: 4%;
}
#left{
    width: 2px;
    height: 25vh;
    border: 1px solid rgb(51, 43, 43);
    bottom: 6%;
    position: absolute;
    left: 2.5%;
}
#right{
    width: 2px;
    height: 25vh;
    border: 1px solid rgb(51, 43, 43);
    top: 7%;
    position: absolute;
    right: 2.5%;
}

#navi_phone_gmail{
    right: 15%;
    position: absolute;
    top:85%;
    bottom: 20px;  
}
#navi_phone_gmail a{
    text-decoration: none;
    color: black;
} 
#navi_phone_gmail img:nth-child(1){
    border-radius: 20%;
    background-color: white;
    top: 6px;
    position: relative;
    right: 10px;
}
#gmail{
    border-radius: 20%;
    background-color: white;
    top: 7px;
    right: 10px;
    position: relative;
}


/* ----------------------------------3 st Page(Assignment)------------------------------------ */

#Gallery_Page{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
    font-style: normal;
    left: 18%;
    position: absolute;
    top: 30%;
}
#Assignment_Rectangle{
    width:20vw;
    height:6vh;
    background-color:white;
    top:-8%;
    position:relative;
}
#Assignment_big_rectangle{
    top: 0;
    height: 145vh;
    position: relative;
    background-color: white;
}

.sec1{
    width: 18%;
    height: 5%;
    left: -17%;
    top: 20%;
    border:1px solid #9e9c06;
    background-color: #506b65;
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.sec1:hover{
    left: -30px;
    cursor: pointer;
    background-color: #9e9c06;
    transition-property: width;
    transition: all 1s;
}
h4{
    font-size: 16px;
    color: white;
    top: 8px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    position: absolute; 
    text-decoration: none; 
}
.sec1 i{
    color: #9e9c06;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 83%;
    top: 1px;
    bottom: 30px;
    margin: 7px;
    text-align: center;
}

#btn1_viewmore{
    width:13vw;
    height:6vh;
    background-color:rgb(103, 121, 119);
    border:1px solid #9e9c06;
    border-radius: 8px;
    top:15%;
    right: 13%;
    position:absolute;
    filter: drop-shadow(5px 10px 5px black); 
}
#btn1_viewmore:hover{
    width:13vw;
    height:7vh;
    right: 12%;
    cursor: pointer;
    top:14%;
    background-color:#9e9c06;
    position: absolute;
}
#rectangle_image1 img{
    filter: drop-shadow(5px 10px 5px black);
    top: 42%;
    left: 49%;
    z-index: 1;
    border-radius: 100%;
    position: absolute;
}

#rectangle_image1 a{
    text-decoration: none;
    top: 58%;
    left: 50%;
    z-index: 1;
    position: absolute;
    color: black;
    animation-name: image_move;
    /* border: 2px solid black; */
}

#rectangle_image2 img{
    filter: drop-shadow(5px 10px 5px black);
    left: 20%;
    position: absolute;
    top: 12%;
    border-radius: 100%;
}

#rectangle_image2 a{
    text-decoration: none;
    top: 28%;
    left: 21%;
    position: absolute;
    color: black; 
    /* border: 2px solid black; */
}
#rectangle_image3 img{
    filter: drop-shadow(5px 10px 5px black);
    top: 30%;
    left: 34%;
    border-radius: 100%;
    position: absolute; 
}
#rectangle_image3 #link_assignment3{
    text-decoration: none;
    top: 46%;
    left: 35%;
    position: absolute;
    color: black; 
    /* border: 2px solid black; */
}
#rectangle_image4 img{
    filter: drop-shadow(5px 10px 5px black);
    top: 56%;
    left: 64%;
    z-index: 1;
    border-radius: 100%;
    position: absolute;   
}
#rectangle_image4 #link_assignment4{
    text-decoration: none;
    top: 70%;
    left: 65%;
    z-index: 1;
    /* border: 2px solid black; */
    position: absolute;
    color: black; 
}


/* /----------------------------------4 st Page(Skill)------------------------------------/ */

#skil_rectangle{
    width:20vw;
    height:6vh;
    left: 0;
    background-color:white;
    top:0px;
    position:absolute;
}

#skil_rectangle #Skills{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
    font-style: normal;
    left: -2%;
    position: relative;
    top: 5px; 
}

#skil_big_rectangle{
    height: 60vh;
    position: relative;
    background-color: #6e6e6e;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skil_set{
    width: 80%;
    filter: drop-shadow(5px 10px 5px black);
    position: absolute;
    justify-content: space-between;
    display: flex; 
    animation-name: move_shape;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    
}

@keyframes move_shape{
    0%{
        filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
    }
    50%{

        width: 2%;
        height: 2%px;
        filter: drop-shadow(10px 10px 10px rgb(255, 238, 0));
    }
    50%{
        width: 98%;
        height: 98%px;
        filter: drop-shadow(10px 10px 10px rgb(3, 16, 54)); 
    }
}

#skil_set img{
    border-radius: 20px;
}

#skil_set :hover{
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
    filter: drop-shadow(5px 10px 5px rgb(136, 170, 15));
}

/* /----------------------------------4 st Page(Experience)------------------------------------/ */

#experience_rectangle{
    width:20vw;
    height:6vh;
    background-color:white;
    top:-9.5%;
    position:relative;
}
#experience_rectangle #Experience{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
    font-style: normal;
    left: -2%;
    position: relative;
    top: 8px;
}
#experience_big_rectangle{
    top:0;
    height: 120vh;
    position: relative;
    background-color: #ffffff;
}

#experience_paragraph{
    top: 60px;
    left: 15%;
    letter-spacing: 2px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    position: absolute;
    
}
/* ------------------------------------------------ */
.experience_step1{
    position: absolute;
    left: 25%;
    top: 60%;
    transform: translate(-50% , -50%);
}
.experience_step2{
    position: absolute;
    left: 38%;
    top: 50%;
    transform: translate(-50% , -50%);
}
.experience_step3{
    position: absolute;
    left: 51%;
    top: 40%;
    transform: translate(-50% , -50%);
}
.experience_step4{
    position: absolute;
    right: 17.5%;
    top: 30%;
    transform: translate(-50% , -50%);
}
.experience_step5{
    position: absolute;
    right: 4.5%;
    top: 20%;
    transform: translate(-50% , -50%);
}
.cube{
    background: #00dbb3;
        width: 151px;
        height: 50px;
        position: relative;
        margin: 50px;
        left: 10%;
        /* border:1px solid black; */
}
.cube::before{
        content: '';
        display: inline-block;
        background: #4ab6a2;
        width: 153px;
        height: 20px;
        transform: skewX(-40deg);
        position: absolute;
        top: -20px;
        left: 8px;
        /* border:1px solid black; */
        
    }

   .cube::after {
        content: '';
        display: inline-block;
        background: #456660;
        width: 20px;
        height: 50px;
        transform: skewY(-50deg);
        position: absolute;
        top: -10px;
        left: 100%;
        /* border:1px solid black; */
        
    }

    /* ---------------------big rectangle--------------------------- */

.experience_step1_box{
    position: absolute;
    left: 33%;
    top: 300%;
    transform: translate(-50% , -50%);
}
.cube1{
    background: #c2c2c2;
        width: 151px;
        height: 200px;
        position: relative;
        margin: 50px;
        left: 10%;
        /* border:1px solid black; */
        filter: drop-shadow(5px 10px 5px black);
}

   .cube1::after {
        content: '';
        display: inline-block;
        background: #555555;
        width: 20px;
        height: 200px;
        transform: skewY(-50deg);
        position: absolute;
        top: -11px;
        left: 100%;
        /* border:1px solid black; */
        filter: drop-shadow(5px 10px 5px black);
    }

.experience_step2_box{
    position: absolute;
    left: 34%;
    top: 350%;
    transform: translate(-50% , -50%);
}
.cube2{
    background: #c2c2c2;
        width: 151px;
        height: 280px;
        position: relative;
        margin: 50px;
        top: 10px;
        left: 10%;
        /* border:1px solid black; */
        filter: drop-shadow(5px 10px 5px black);
}

   .cube2::after {
        content: '';
        display: inline-block;
        background: #555555;
        width: 20px;
        height: 280px;
        transform: skewY(-50deg);
        position: absolute;
        top: -11px;
        left: 100%;
        /* border:1px solid black; */
        filter: drop-shadow(5px 10px 5px black);
    }

.experience_step3_box{
    position: absolute;
    left: 33%;
    top: 300%;
    transform: translate(-50% , -50%);
}
.cube3{
    background: #c2c2c2;
        width: 151px;
        height: 355px;
        position: relative;
        margin: 50px;
        left: 10%;
        top: 75px;
        /* border:1px solid black; */
        filter: drop-shadow(5px 10px 5px black);
}

   .cube3::after {
        content: '';
        display: inline-block;
        background: #555555;
        width: 20px;
        height: 355px;
        transform: skewY(-50deg);
        position: absolute;
        top: -11px;
        left: 100%;
        /* border:1px solid black; */
        filter: drop-shadow(5px 10px 5px black);
    }

.experience_step4_box{
    position: absolute;
    right: -100%;
    top: 300%;
    transform: translate(-50% , -50%);
}
.cube4{
    background: #c2c2c2;
        width: 151px;
        height: 430px;
        position: relative;
        margin: 50px;
        top: 115px;
        left: 10%;
        /* border:1px solid black; */
        filter: drop-shadow(5px 10px 5px black);
}

   .cube4::after {
        content: '';
        display: inline-block;
        background: #555555;
        width: 20px;
        height: 430px;
        transform: skewY(-50deg);
        position: absolute;
        top: -11px;
        left: 100%;
        /* border:1px solid black; */
        filter: drop-shadow(5px 10px 5px black);
    }

.experience_step5_box{
    position: absolute;
    right: -100%;
    top: 300%;
    transform: translate(-50% , -50%);
}
.cube5{
    background: #c2c2c2;
        width: 151px;
        height: 510px;
        position: relative;
        margin: 50px;
        left: 10%;
        top: 150px;
        /* border:1px solid black; */
        filter: drop-shadow(5px 10px 5px black);
}

   .cube5::after {
        content: '';
        display: inline-block;
        background: #555555;
        width: 20px;
        height: 510px;
        transform: skewY(-50deg);
        position: absolute;
        top: -10px;
        left: 100%;
        /* border:1px solid black; */
        filter: drop-shadow(5px 10px 5px black);
    }

#Month_2019_06{
    color: white;
    filter: drop-shadow(5px 10px 5px black);
    top:-35%;
    left: 9%;
    position: absolute;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Rajdhani', sans-serif;
}
#TRAINING{
    top:-16%;
    left: 15%;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;
    filter: drop-shadow(5px 10px 5px black);
}
#helth_img{
    border-radius: 16px;
    left: 67%;
    top:-24%;
    position: absolute;
    filter: drop-shadow(5px 10px 5px black);
}
#STEP1{
    filter: drop-shadow(5px 10px 5px black);
    top: 8%;
    left: 40%;
    color: #42afb6;
    position: absolute;
    font-size: 16;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
}
#I_worked_paragraph{
    top: 25%;
    left: 15%;
    text-align: center;
    text-align: left;
    position: absolute;
    font-size: 14px;
    font-family: 'Rajdhani', sans-serif;
}
#I_worked_paragraph a{
    text-decoration: none;
}


#Month_2020_10{
    color: white;
    filter: drop-shadow(5px 10px 5px black);
    top: -22%;
    left: 10%;
    position: absolute;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Rajdhani', sans-serif;
}
#TRAINING1{
    top: -11%;
    left: 14%;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;
    filter: drop-shadow(5px 10px 5px black); 
}
#bank_img{
    border-radius: 16px;
    left: 63%;
    top: -15%;
    position: absolute;
    filter: drop-shadow(5px 10px 5px black); 
}
#STEP2{
    filter: drop-shadow(5px 10px 5px black);
    top: 5%;
    left: 42.3%;
    color: #42afb6;
    position: absolute;
    font-size: 16;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
}
#I_worked_paragraph1{
    top: 18%;
    left: 12%;
    text-align: center;
    text-align: left;
    position: absolute;
    font-size: 14px;
    font-family: 'Rajdhani', sans-serif;
}
#I_worked_paragraph1 a{
    text-decoration: none;
}


#TRAINING2{
    top: -10%;
    left:26%;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;
    filter: drop-shadow(5px 10px 5px black); 
}
#STEP3{
    filter: drop-shadow(5px 10px 5px black);
    top: 5%;
    left:40%;
    color: #42afb6;
    position: absolute;
    font-size: 16;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;; 
}
#experience_think1{
    top: 40%;
    left:30%;
    position: absolute; 
}


#PERMANENT1{
    top: -8%;
    right:19%;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;
    filter: drop-shadow(5px 10px 5px black); 
}
#STEP4{
    filter: drop-shadow(5px 10px 5px black);
    top: 5%;
    right:37%;
    color: #42afb6;
    position: absolute;
    font-size: 16;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;; 
}
#experience_think2{
    top: 30%;
    right:-5%;
    position: absolute; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;; 
}


 #OWNER{
    top:-7%;
    right:27%;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;
    filter: drop-shadow(5px 10px 5px black);  
}
#STEP5{
    filter: drop-shadow(5px 10px 5px black);
    top: 4%;
    right:35%;
    color: #42afb6;
    position: absolute;
    font-size: 16;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;  
}
#experience_think3{
    top: 20%;
    right:-20%;
    position: absolute;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;  
}
#man{
    top: 22%;
    left: -8%; 
    position: absolute;
    z-index: 1;
} 
#run_man_img{
    top:41%;
    left: 25%;
    position: absolute;
}
#winer_man_img{
    top:2%;
    right:17%;
    position: absolute;
}


/* /----------------------------------4 st Page(Project)------------------------------------/ */

#Project_rectangle{
    width:20vw;
    height:8vh;
    background-color:white;
    /* border:1px solid black; */
    top:-2x;
    position:relative;
}
#Project{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
    font-style: normal;
    left: -2%;
    position: relative;
    top: 15px;
}

#Project_big_rectangle{
    height: 85vh;
    position: relative;
    background-color: #6e6e6e;
    top:0;
}
.hi-slide {
    position: relative;
     width: 824px; 
     height: 392px; 
     top:-60px;
     margin: 115px auto 0; 
    }
 
.hi-slide .hi-next,
.hi-slide .hi-prev{ position: absolute;
   top: 50%; 
   width: 40px;
   height: 40px; 
   margin-top: -20px;     
   border-radius: 50px;     
   line-height: 40px;
   text-align: center; 
   cursor: pointer;
   background-color: #fff; 
   color: black;               
   transition: all 0.6s;
   font-size: 20px; 
   font-weight: bold;
   
 }

.hi-slide .hi-next:hover, 
 .hi-slide .hi-prev:hover{
 opacity: 1; 
 background-color: #fff; 
 
 }
 
.hi-slide .hi-prev {
   left: -60px;
  
  }
 
.hi-slide .hi-prev::before {
content: '<';
}
.hi-slide .hi-next {
right: -40px; 
}
.hi-slide .hi-next::before { 
content: '>'; 
}

 .hi-slide > ul { 
             list-style: none; 
             position: relative;
             width: 754px; 
             height: 292px; 
           
 }
 

 
.hi-slide > ul > li {
 position: absolute; 
 z-index: 0; 
 left: 377px;
 top: 146px; 
 width: 0; 
 height:0; 
 margin: 0; 
 padding: 0;              
 cursor: pointer;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 
.hi-slide > ul > li > div{ 
width: 100%;
height: 100%;
background-position: center;
background-color: rgb(255, 255, 255);
filter: drop-shadow(15px 10px 15px black);
}



.hi-slide > ul > li > div >h4{
 position: relative;
 top:20px;
 font-size: 15px;
 color: #000;
}
.hi-slide >ul>li>div>img{
    width: 70%; 
    position: relative;
    top:40px;
    left: 40px;
    background-position: center;
    filter: drop-shadow(5px 10px 5px black);

}

.hi-slide > ul >li >div >a{
 font-size: 12px;
 text-decoration: none;
 color: rgb(21, 11, 54);
 position: absolute;
 bottom: 10px;;
 right: 40px;
 font-weight: 800;
 
}

.hi-slide > ul >li >div >a >p{
    position: relative;
    top:-10px;
}
.hi-slide > ul >li >div >a >button{
    color:white;
    background-color: #006BA8;
    padding: 10px;
    border: none;
    border-radius: 10px;
}


/* /----------------------------------4 st Page(Education)------------------------------------/ */

#Education_rectangle{
    width:20vw;
    height:6vh;
    background-color:white;
    top:-34px;
    position:relative;
} 
#Education_rectangle #Education{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
    font-style: normal;
    left: -2%;
    position: relative;
    top: 9px;
}
#Education_big_rectangle{
    height: 120vh;
    position: relative;
    background-color: #ffffff;
    top: 0;
}
#Education_Pictures{
    left: 15%;
    top: 20%;
    position: absolute;

}
#animal_picture{
    top: 75%;
    left:10%;
    position: relative;
}
#hat_img{
    width: 230px;
    height: 230px;
    right: 20%;
    top: 3%;
    border-radius: 50%;
    filter: drop-shadow(5px 10px 5px black);
    position: absolute;
    
}
#hat_img{
    width: 230px;
    height: 230px;
    border: 2.5px solid rgb(217, 255, 0);
    border-radius: 50%;
    position: absolute;
    animation-name: drop_water;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
@keyframes drop_water{
    0%{
        width: 1px;
        height: 1px;  
        filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
    }
    100%{
        width: 230px;
        height: 230px;
        filter: drop-shadow(10px 10px 10px rgb(238, 255, 0));
        
    }

}
    
.main_image{
    position: absolute;
    top:10%;
    left:15%;
}
.cercle1{
    position: relative;
    height:80px;
    width: 80px;
    top: 495px;
    left: 110%;
    z-index: 1;
    border-radius: 50%;
    /* border: 1px solid black; */
    
}
#School{
    border-radius: 50%;
    filter: drop-shadow(5px 10px 5px black);
    position: absolute;
}
#School:hover{
    transform: scale(1.2);
    transition: 0.5s;
    filter: drop-shadow(10px 10px 10px rgb(238, 255, 0));
    cursor: pointer;
}
#Nysc_img{
    border-radius: 50%;
    filter: drop-shadow(5px 10px 5px black);
    position: absolute;
}
.cercle2{
    position: relative;
    height:80px;
    width: 80px;
    top: 320px;
    left: 250%;
    z-index: 1;
    border-radius: 50%;
    /* border: 1px solid black; */
    
}
#Nysc_img:hover{
    transform: scale(1.2);
    transition: 0.5s;
    filter: drop-shadow(10px 10px 10px rgb(238, 255, 0));
    cursor: pointer;
}
#Esoft_img{
    border-radius: 50%;
    filter: drop-shadow(5px 10px 5px black);
    position: absolute;
}
.cercle3{
    position: relative;
    height:80px;
    width: 80px;
    top: 110px;
    left: 390%;
    z-index: 1;
    border-radius: 50%;
    /* border: 1px solid black; */
    
}
#Esoft_img:hover{
    transform: scale(1.2);
    transition: 0.5s;
    filter: drop-shadow(10px 10px 10px rgb(238, 255, 0));
    cursor: pointer;
}
#IJSE_img{
    border-radius: 50%;
    filter: drop-shadow(5px 10px 5px black);
    position: absolute;
}
.cercle4{
    position: relative;
    height:80px;
    width: 80px;
    top: -50px;
    left: 530%;
    z-index: 1;
    border-radius: 50%;
    /* border: 1px solid black; */
    
}
#IJSE_img:hover{
    transform: scale(1.2);
    transition: 0.5s;
    filter: drop-shadow(10px 10px 10px rgb(238, 255, 0));
    cursor: pointer;
}
#School_paragraph{
    left: 208%;
    top: 160%;
    width: 230%;
    height: 19%;
    background-color: #004060;
    position: absolute;
}
#School_paragraph div{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    border-bottom: 64px solid white;
    border-right: 64px solid transparent;

}
#School_paragraph pre{
    font-size: 12px;
    text-shadow: 10px 10px 10px #000000;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    text-align: center; 
}
#Nysc_paragraph{
    left: 356%;
    top: 130%;
    width: 230%;
    height: 18.5%;
    background-color: #facb50;
    position: absolute;
}
#Nysc_paragraph div{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    border-bottom: 64px solid white;
    border-right: 64px solid transparent;

}
#Nysc_paragraph pre{
    font-size: 13px;
    text-shadow: 10px 10px 10px #000000;
    color: white;
    top: 27%;
    left: 20%;
    position: absolute;
    font-family: 'Rajdhani', sans-serif;
    /* text-align: center;  */
}
#Esoft_paragraph{
    left: 488%;
    top: 100%;
    width: 230%;
    height: 18.5%;
    background-color: #006769;
    position: absolute;
}
#Esoft_paragraph div{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    border-bottom: 64px solid white;
    border-right: 64px solid transparent;

}
#Esoft_paragraph pre{
    font-size: 13px;
    text-shadow: 10px 10px 10px #000000;
    color: white;
    top: 27%;
    left: 20%;
    position: absolute;
    font-family: 'Rajdhani', sans-serif;
    /* text-align: center;  */
}
#IJSE_paragraph{
    left: 630%;
    top: 75%;
    width: 230%;
    height: 18.5%;
    background-color: #118B8B;
    position: absolute;
}
#IJSE_paragraph div{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    border-bottom: 64px solid white;
    border-right: 64px solid transparent;

}
#IJSE_paragraph pre{
    font-size: 13px;
    text-shadow: 10px 10px 10px #000000;
    color: white;
    top: 27%;
    left: 10%;
    position: absolute;
    font-family: 'Rajdhani', sans-serif;
    /* text-align: center;  */
}



/* /----------------------------------4 st Page(Contact)------------------------------------/ */
#contact_and_comment_big_rectangle{
    height: 90vh;
    position: relative;
    background-color: #6e6e6e;
    top: 0;
    z-index: 1;
}

#Contact_rectangle{
    width:20vw;
    height:6vh;
    background-color:white;
    top:0;
    left:79.8%;
    position:absolute;
}
#Contact_rectangle h2{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
    font-style: normal;
    right: 30%;
    position: absolute;
    top: 4px;
}

#location_rectangle{
    width: 28vw;
    height: 12vh;
    right: 15%;
    background-color: #ffffff;
    box-shadow: 8px 10px 8px #000000;
    /* border:1px solid black; */
    top: 17%;
    position: absolute;
}

#location_rectangle h3{
    color: #ccc8c8;
    font-family: 'Red Rose', cursive;
    left: 5%;
    font-size: 15px;
    /* border:1px solid black; */
    z-index: 1;
    top: 10%;
    position: absolute;
}

#location_rectangle p{
    font-family: 'Rajdhani', sans-serif;
    left: 15%;
    font-size: 13px;
    /* border:1px solid black; */
    z-index: 1;
    top: 40%;
    letter-spacing: 1px;
    position: absolute; 
}

#gmail_rectangle{
    width: 28vw;
    height: 12vh;
    right: 15%;
    background-color: #ffffff;
    box-shadow: 8px 10px 8px #000000;
    /* border:1px solid black; */
    top: 34%;
    position: absolute; 
}

#gmail_rectangle h3{
    color: #ccc8c8;
    font-family: 'Red Rose', cursive;
    left: 5%;
    font-size: 15px;
    /* border:1px solid black; */
    z-index: 1;
    top: 15%;
    position: absolute;
}

#gmail_rectangle p{
    font-family: 'Rajdhani', sans-serif;
    left: 15%;
    font-size: 13px;
    /* border:1px solid black; */
    z-index: 1;
    top: 55%;
    letter-spacing: 1px;
    position: absolute; 
}


#tell_rectangle{
    width: 28vw;
    height: 12vh;
    right: 15%;
    background-color: #ffffff;
    box-shadow: 8px 10px 8px #000000;
    /* border:1px solid black; */
    top: 51%;
    position: absolute; 
}

#tell_rectangle h3{
    color: #ccc8c8;
    font-family: 'Red Rose', cursive;
    left: 5%;
    font-size: 15px;
    /* border:1px solid black; */
    z-index: 1;
    top: 15%;
    position: absolute;
}

#tell_rectangle p{
    left: 15%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 13px;
    /* border:1px solid black; */
    z-index: 1;
    top: 55%;
    letter-spacing: 1px;
    position: absolute;  
}

#address{
    font-family: 'Rajdhani', sans-serif;
    left: 60%;
    font-size: 13px;
    border:1px solid black;
    z-index: 1;
    top: 23.5%;
    letter-spacing: 1px;
    position: absolute; 
}
#location_rectangle img{
    top: 23%;
    left: 85%;
    position: absolute;
}
#location_rectangle img:hover{
    top: 21%;
    left: 86%;
    filter: drop-shadow(7px 10px 7px rgb(255, 0, 0));
    position: absolute;
}

#gmail_rectangle img{
    top: 39%;
    left: 86%;
    position: absolute;
}
#gmail_rectangle img:hover{
    cursor: pointer;
    top: 37%;
    left: 87%;
    filter: drop-shadow(7px 10px 7px rgb(255, 0, 0));
    position: absolute;
}


#tell_rectangle img{
    top: 36%;
    left: 86%;
    transform: rotate(15deg);
    position: absolute;
}
#tell_rectangle img:hover{
    top: 35%;
    left: 87%;
    filter: drop-shadow(7px 10px 7px rgb(255, 0, 0));
    position: absolute;
}
#contact_link{
    right: 12%;
    top: 75%;
    text-decoration: none;
    position: absolute;
}
#contact_link img{
    left: 10%;
    top: -18px;
    position: relative;
}
#link1{
    text-decoration: none;
    color: black;
    top: -25px;
    right: -12%;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
}
#link1:hover{
    color: rgb(32, 16, 173);
}
#link2{
    text-decoration: none;
    color: black;
    top: -25px;
    right: -12%;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
}
#link2:hover{
    color: rgb(32, 16, 173);
}
#link3{
    text-decoration: none;
    color: black;
    top: -25px;
    right: -12%;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
}
#link3:hover{
    color: rgb(32, 16, 173);
}
#link4{
    text-decoration: none;
    color: black;
    top: -25px;
    right: -12%;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
}
#link4:hover{
    color: rgb(32, 16, 173);
}
#thanku_girl{
    border-radius: 50%;
    top: 80%;
    right: 3%;
    position: absolute;
}

/* /----------------------------------4 st Page(comment)------------------------------------/ */

.placeholder{
    position: absolute;
    top: 100px;
    left: 100px;
}
#comment_section h2{
    text-align: center;
    color: #000000;
    text-shadow: 10px 10px 10px #000000;
    font-style: normal;
    left: 7%;
    position: absolute;
    top: 7%;
}
/* #placeholder i{
    top: 100px;
    left: 10px;
    width: 30%;
    height: 30%;
    z-index: 1;
    color: #727170;
    position: relative;
} */
.placeholder input{
    color: #c4c4c4;
    background-color: white;
    width: 25vw;
    height: 5vh;
    font-size: 13px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}
.placeholder textarea{
    color: #C4C4C4;
    font-family: 'Rajdhani', sans-serif;
    background-color:  #EFEFEF;
    width: 33vw;
    height: 28vh;
    font-size: 98%;
    margin-top: 10px;
    border-radius:4px;
    /* border-bottom-right-radius: 5%; */
    border: none;
}

#date{
    color: #C4C4C4;
    background-color:  #EFEFEF;
    width: 20vw;
    height: 5vh;
    border-radius:4px;
    border: none;
}

.select-item{
    color: #C4C4C4;
    background-color:  #EFEFEF;
    width: 10vw;
    left: 20px;
    position: relative;
    height: 5vh;
    border-radius:4px;
    border: none;
}

.save{
    position:absolute;
    width: 30%;
    height: 8%;
    margin: 2%;
    left: -7px;
    background-color: #5daa8a;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius:7px;
    filter: drop-shadow(5px 10px 5px black); 
}
.save:hover{
    position:absolute;
    width: 33%;
    height: 9%;
    left: -6px;
    top: 98%;
    background-color: #fcb414;
    filter: drop-shadow(5px 10px 5px rgb(172, 245, 138)); 
}

/* /----------------------------------4 st Page(Footer)------------------------------------/ */

footer{
    height: 28vh;
    width: 98.8vw;
    background-color: #000000;
    /* border:1px solid black; */
    top: 0;
    margin-bottom: 0;
    position: relative;
}
footer pre{
    top: 30%;
    left: 39%;
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: 'Rajdhani', sans-serif;
    position: absolute;
}
#Wireframe{
    position: absolute;
    top: 60%;
    left: 43%;
    text-align: center;
    color: rgb(192, 189, 0);
}
#Figma{
    position: absolute;
    top: 60%;
    left: 50.5%;
    text-align: center;
    color: rgb(192, 189, 0);
}
#Sidmap{
    position: absolute;
    top: 60%;
    left: 55%;
    text-align: center;
    color: rgb(192, 189, 0);
}